.Navbar {
  background-color: var(--primary-color);
  height: 150px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  z-index: 40;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  .Navbar__left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;

    .Image__container {
      position: relative;
      width: 100px;
      height: 100%;
      cursor: pointer;
    }
    h1 {
      font-size: 3rem;
      font-weight: bolder;
      letter-spacing: 1.5px;
      color: var(--secondary-color);
      cursor: pointer;
      span {
        color: var(--tertiary-color);
      }
    }
  }

  .Navbar__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2.5rem;

    .btn__login-logout {
      background-color: transparent;
      color: var(--secondary-color);
      border: 1px solid var(--tertiary-color);
      padding: 3px 15px;
      border-radius: 25px;
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 2px;
      font-family: "Lato", sans-serif;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        border: 1px solid var(--primary-color);
      }
    }
    .Navbar__link {
      p {
        text-decoration: none;
        color: var(--tertiary-color);
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: "Lato", sans-serif;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
      }
      div {
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--tertiary-color);
        transform-origin: center;
        transition: transform 0.25s ease-out;
      }

      &:hover {
        p {
          color: var(--secondary-color);
        }
        div {
          transform: scaleX(1);
        }
      }
    }
  }

  .Navbar__mobile {
    display: none;
  }

  @media screen and (max-width: 1200px) {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Navbar__left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .Image__container {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
      h1 {
        font-size: 2.5rem;
      }
    }
    .Navbar__right {
      display: none;
    }
    .Navbar__mobile-icon {
      position: absolute;
      top: 20px;
      right: 30px;
      z-index: 100;
      .Navbar__icon {
        font-size: 2rem;
        color: var(--tertiary-color);
        cursor: pointer;
      }
    }

    .Navbar__mobile--open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--secondary-color);
      width: 60%;
      height: 100vh;
      transition: all 0.5s ease-in-out;

      p , .btn__login-logout{
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: "Lato", sans-serif;
        color: var(--tertiary-color);
        cursor: pointer;
      }
    }
  }
}
